<%- include('header')%>

<div class="container my-5  p-2">

<nav class="w-75  d-flex justify-content-between align-items-center m-auto alert alert-warning">
   <h1> <a class="text-decoration-none text-dark fs-4" href="/">Task Manager</a> </h1>
      <h2 class="w-50 d-flex justify-content-evenly ">
         <a class="text-decoration-none text-dark fs-4" href="/user">User</a>
         <a class="text-decoration-none text-dark fs-4" href="/task">Task</a>
      </h2>
        </nav>
     
</div>

<%- include('footer')%>



