<%- include('header')%>
<%- include('nav')%>

<div class="main my-5 p-2">
  <form action="/create"  class="w-50 m-auto" method="post">
    <input class="w-50 form-control my-3" type="text" name="name" placeholder="Enter your name" >
    <input class="w-50 form-control my-3 email" id="email" type="email" name="email" placeholder="Enter your email" >
    <input class="w-50 form-control my-3" type="text" name="number" placeholder="Enter your number" >
    <button class="btn btn-success w-25">Add User</button>
  </form> 

<hr class="w-50 m-auto mt-5">

<div class="d-flex justify-content-between m-auto w-50 container mt-5 ">
      
<div class="card" style="width: 18rem;">
        <div class="header">
          <h3 class="m-3">User Details</h3>
        </div>
        <ul class="list-group list-group-flush">
          <% user.forEach((user)=>{%>
            <li  class="my-2 list-group-item"> <a class="text-decoration-none text-dark" href="/task"><%= user.name%></a></li>
             <%})%>
        </ul>
</div>
    

</div>
     

</div>
  

<%- include('footer')%>